.career-agenda{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10em;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
}
.career-agenda .heading{
    line-height: 1.06;
    font-size: 2.125rem;
    text-align: center;
    font-family: 'Joyride STD' !important
}