.boxes-container{
    position: relative;
    display: grid;
    grid-template-columns: auto;
    column-gap: 0.3em;
    padding:  0.5% 5%;
    width: 100%;
    background: #000;
    z-index: 500;
    overflow: hidden;
}
.boxes-container .img-container{
    display: inline-block;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.img-container img{
    width: inherit;
    object-fit: contain;
    object-position: center;
    transition: all 0.4s ease-in;
}
.img-container:hover img{
    transform: scale(1.09);
}
@media only screen and (min-width:576px){
    .boxes-container{
        grid-template-columns: auto auto;
    }
}
@media only screen and (min-width:767px){
    .boxes-container{
        grid-template-columns: auto auto auto;
    }
}