#case-studies-home{
    position: relative;
    color: white;
    /* width: 100%;
    overflow: hidden; */
}
.hover-b-border{
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.hover-b-border:hover{
    border-bottom: 2px solid white;
}
.drop-down-container{
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 12%;
    left: 5rem;
    /* font-family: 'Joyride STD'; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    gap: 2em;
    z-index: 300;
}
#case-studies-home .case-study-selector{
    font-size: 1.1rem;
    line-height: 3rem;
    font-weight: bold;
    background-color: transparent;    
    /* font-family: 'Joyride STD'; */
    font-family: 'Avenir-Book';
    color: rgb(244, 244, 244);
    border: none;
    outline: none;
}
@media only screen and (min-width: 1002px) {
    #case-studies-home .hero{
        background-position:bottom right;
        background-size: 50%;
    }
    #case-studies-home .inner-hero h1,h2{
        font-size: 3.2rem;
    }
}