.articles-content{
    display: flex;
    padding: 0 1em;
    flex-direction: column;
    gap:1em;
}
.articles-content .news-heading{
    font-size: 1.5625rem;
    line-height: 1.3;
    font-weight: bolder;
    font-family: 'Avenir-Book';
}
.articles-content .title{
    font-size: 1.5625rem;
    line-height: 1.3;
    color: #2B2B2B;
    text-decoration: none;
    font-family: 'Avenir-Book';
    vertical-align: baseline;
}
.articles-content p{
    font-family: 'Avenir-Book';
    color: #333;
}
.articles-content .a-read-more{
    font-size: 1.1rem;
    color: #333;
    font-family: 'WesFy Black';
    line-height: 1.5;
    font-weight: bold;
    text-decoration: none;
}
.articles-content .icon{
    margin: 0.3em 0.5em 0 0;
}
.color-blue{
    color:blue;
}
