#l-transitional-section {
    /* margin-bottom: -4em; */
}

.transitional-box {
    position: relative;
    display: inline-block;
    margin: 0.1em 0.1em 0 0.1em;
    cursor: pointer;
}

.changeBg {
    position: absolute;
    top: 0;
    opacity: 0;
    height: 400px;
    width: 400px;
    background-color: rgba(52, 73, 94, .65);
    transition: opacity 0.3 ease-in;
    z-index: 100;
}

.l-transtional-img-box {
    overflow: hidden;
}

/* .l-transtional-img-box::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: white;
    background-color: rgba(52, 73, 94, .75);
    z-index: -99;
} */

.l-transtional-img-box img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
    transition: all 0.4s ease-in;
}

.l-transtional-img-box:hover img {
    transform: scale(1.1);
}

.overlaper .overlaper-content{
    display: flex;
    flex-direction: column;
    padding: 0 6em 0 0;
    width: inherit;
    word-wrap: break-word;
}
.overlaper {
    position: absolute;
    top: 0;
    transform: scale(1.06);
    opacity: 0;
    padding: 2em 0 0 4em;
    width: 400px;
    height: 400px;
    transition: all 0.2s ease-in;
    z-index: 200;
}

.l-transtional-img-box:hover .changeBg {
    opacity: 1;
}

.l-transtional-img-box:hover .overlaper {
    opacity: 1;
    transform: scale(1);
}

.overlaper .heading {
    color: #fff;
    font-size: 2rem;
    font-family: 'Joyride STD';
}

.overlaper p {
    margin-top: 1.3em;
    font-size: 1.4rem;
    color: #fff;
    line-height: 2.1rem;
    font-family: 'Avenir-Book';
}

.l-transtional-txt-box {
    box-sizing: border-box;
    padding: 0 4em;
    background-color: #2B2B2B;
    text-align: left;
    width: 400px;
    height: 330px;
    border: 1px solid black;
    font-family: 'Avenir-Book';
}

.l-transtional-txt-box p {
    margin-top: 1.3em;
    font-size: 1.9rem;
    color: #fff;
    line-height: 2.1rem;
}

.overlayer-btn-container {
    margin-top: 3em;
    width: -moz-fit-content;
    width: fit-content;
}

.transitional-btn {
    padding: 0.4em 1.9em;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    border: 0.125em solid #fff;
    text-decoration: none;
    font-weight: 200;
    transition: all 0.1s;
}

/* .transitional-btn::after {
    content : "";
    display: inline;
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 1px;
    width   : 50%;  
    border-bottom:1px solid magenta;
} */
/* .transitional-btn:hover {
    animation: borderAnim 0.7s 1 ease-in forwards;
}
@keyframes borderAnim {
    0%{
        border: none;
        border-bottom: 0.09em solid #fff; ;
    }
    25%{
        border-left: 0.09em solid #fff; ;
    }
    50%{
        border-top: 0.09em solid #fff; ;
    }
    75%{
        border-right: 0.09em solid #fff; ;
    }
    100%{
        border: 0.09em solid #fff; ;
    }    
} */
.separator-div {
    width: 100%;
    height: 9rem;
    margin-top: -3em;
    background-color: #f4f4f4;
}