
#section-wrapper {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    top: -4.375rem;
    z-index: 500;
}

.box {
    position: relative;
    display: block;
    float: left;
    clear: right;
    margin-bottom: 5px;
    margin-left: 0.25%;
    cursor: pointer;
    overflow: hidden;
    min-width: 258px;
    width: calc(33.333% - 3.333px);
    height: 400px;
    padding-top: 0;
}

.bg-container {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    opacity: 1 !important;
}

.img-box {
    overflow: hidden;
}

.overlayer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 2em;
    position: absolute;
    top: 0;
    transform: scale(1.06);
    opacity: 0;
    padding: 2em 4em 0 4em;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in;
    background-color: rgb(0, 0, 0, 0.7);
    z-index: 100;
}

.img-box:hover .changeBg {
    opacity: 1;
}

.img-box:hover .overlayer {
    opacity: 1;
    transform: scale(1);
}

.overlayer .heading {
    color: #fff;
    font-size: 2rem;
    font-family: 'Joyride STD';
    margin: 0;
}

.overlayer p {
    font-size: 1.4rem;
    color: #fff;
    line-height: 2.1rem;
    font-family: 'Avenir-Book';
}

.content-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 2.5em 3.75em;
    background-color: #2B2B2B;
    text-align: left;
    border: 1px solid black;
    font-family: 'Avenir-Book';
}

.content-box p {
    font-size: 1.9rem;
    color: #fff;
    line-height: 2.1rem;
}

.transitional-btn {
    font-family: "Avenir-Book";
    padding: 0.4em 1.9em;
    position: relative;
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    border: 0.125em solid #fff;
    text-decoration: none;
    font-weight: 200;
    transition: all 0.1s;
}
.breaking-div{
    position: absolute;
    bottom: 0;
    vertical-align: bottom;
    width: 100%;
    background: #f4f4f4;
    height: 9.375rem;
}
@media only screen and (max-width:900px) {
    .box {
        width: 49.5%;
    }
}
@media only screen and (max-width:650px) {
    .box {
        width: 100%;
    }
}