#footer{
    display: flex;
    padding: 0 4em;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    overflow: hidden;
}
#footer .nav-container{
    display: flex;
}
#footer-nav{
    display: flex;
    list-style: none;
}
#footer-nav li{
    margin-left: 1em;
    border-left: 2px solid white;
    padding-left: 1em;
}
#footer-nav a{
    padding: 0.5em;
    text-decoration: none;
    color: white;
}
#footer-nav a:hover{
    color:yellow;
}
#footer .footer-icons{
    text-decoration: none;
    color:white;
    padding:0.1em;
}
#footer .react-icon{
    margin: 0 0.5em;
    background-color:black;
    color:white;
    border:none;
    outline:none;
}