#landing-section {
    position: relative;
    height: 99vh;
    overflow-x: hidden;
    z-index: 200;
}

.video-container {
    position: relative;
    height: inherit;
    width: 100%;
    overflow-x: hidden;
    background: #000;
    vertical-align: baseline;
}

#landing-section video {
    position: absolute;
    object-fit: cover;
    opacity: 0.6;
    min-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    font: inherit;
    transform: translate(-50%, -50%);
}

.landing-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-width: 1260px;
    margin: auto;
    padding: 0 25px;
    vertical-align: baseline;
    z-index: 20;
    /* border: 2px solid red; */
}

#landing-section .landing-title {
    font-weight: lighter;
    font-family: 'Joyride STD';
    font-size: 3.5rem;
    line-height: 120.5%;
    margin-bottom: 1%;
    max-width: 700px;
    min-width: 400px;
    color: white;
}

#landing-section .landing-subtitle {
    color: #fff;
    font-size: 1.3rem;
    font-family: "Avenir-Book";
    font-weight: bold;
    margin: 0 0 0.7em;
    line-height: 1.06rem;
    max-width: 800px;
    font-family: "Avenir";
    font-weight: bold;
    line-height: 1.06;
    margin-bottom: 60px;
}

/* .btns-container{

} */

.white-button {
    display: inline-block;
    background-color: #fff;
    color: #000;
    min-width: 200px !important;
}

.white-button:hover {
    background-color: grey;
    color: white;
}

#landing-section .yellow-button {
    margin-left: 1.5em;
}

.logos-container {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    max-width: 100%;
    z-index: 10;
    overflow-x: hidden;
}

.swiper {
    max-width: 90%;
    margin: auto !important;
    overflow-x: hidden !important;
    padding: 0 1em;
}

.swiper-slide {
    height: 3rem !important;
}

.logos-wrapper img {
    height: 3rem;
    width: 8rem;
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    touch-action: pan-y;
}

.i-text-content h1 {
    font-size: 2rem;

}

.i-text-content p {
    font-size: 1.7rem;
    font-weight: lighter;
}

.i-text-content .button {
    display: inline-block;
    font-size: 1.2rem;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0.4em 2em;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

#l-transitional-section {
    display: flex;
    justify-content: left;
    align-items: center;
    position: relative;
    margin-top: -5em;
    padding: 0em 4.5em;
    z-index: 20;
}

@media only screen and (max-width:770px) {
    .landing-content {
        text-align: center;
    }

    #landing-section .landing-title {
        font-size: 2.47rem;
    }

    .btns-container {
        text-align: center;
    }
}
@media only screen and (max-width:650px) {
    #landing-section .landing-title {
        font-size: 2rem;
    }
    #landing-section .landing-subtitle {
        font-size: 1rem;
    }

    .btns-container {
        text-align: center;
    }
}

@media only screen and (max-width:500px) {
    .btns-container .btn {
        margin-bottom: 0.8em;
    }
}