#project-hire-container{
    position: relative;
    overflow: hidden;
    width: 100%;
}
.ph-bg-image{
    background-size:cover;
    background-repeat: no-repeat;
    background-position:left;
    height: 500px;
}

.ph-text-content{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-around;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}
.inner-text-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.4rem;
}
@media only screen and (max-width:520px){   
  .ph-text-content{
    flex-direction: column;
    gap: 2.5rem;
  } 
}
@media only screen and (max-width:800px){
  .ph-text-content .w-heading{
    font-size: 1.3rem;
  }  
}