#nav-container {
  position: fixed;
  display: grid;
  grid-template-columns: auto 2fr;
  top: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  width: 100%;
  height: 3.8em;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
}

#logo {
  font-size: 1.8rem;
  padding: 0.3em 0;
  text-decoration: none;
  font-weight: bolder;
  color: white;
  font-family: 'Joyride STD';
}

#logo:hover {
  color: #eaf765;
}

.nav-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#navbar {
  display: flex;
  justify-content: center;
  gap: 1.7%;
  font-family: inherit;
  align-items: center;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  line-height: 2.5rem;
  z-index: 500;
}

#navbar li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#navbar li .active {
  color: #eaf765 !important;
}

#navbar .nav-item {
  display: block;
  font-size: 0.97rem;
  padding: 0.5rem 0.5rem !important;
  width: 100%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
  color: #fff;
  font-family: 'Avenir-Book';
  -webkit-font-smoothing: antialiased;
  font-weight: normal;
  margin: auto;
}

#navbar .nav-item:hover {
  color: #eaf765;
}

.dropbtn {
  /* display: inline-block; */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.fa-caret-down {
  color: #eaf765;
  font-size: 0.7rem;
  padding: 0.3em 0.5em;
  float: right;
  cursor: pointer;
}

.dropdown-content {
  visibility: hidden;
  position: absolute;
  top: 4em;
  left: 0;
  padding: 1em 0.5em;
  min-width: 190px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  background-color: black;
  z-index: 200;
  transition: all 0.2s ease-in;
}

.dropdown-content a {
  display: block;
  padding: 1.8px 6px;
  text-decoration: none;
  color: white;
}

.dropdown-content a:hover {
  color: #eaf765;
}

.dropdown:hover .dropdown-content {
  top: 3.65em;
  visibility: visible;
}

.nav-item-color:hover {
  color: #eaf765;
}

/* Navbar toggler */
#nav-check {
  display: none;
  position: absolute;
  top: 50%;
  right: 3em;
  transform: translateY(-50%);
}

#nav-check span.check {
  position: relative;
  display: block;
  width: 20px;
  height: 7px;
  transition: 0.5s;
}

#nav-check span.check::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transition: 0.5s;
}

#nav-check input:checked~:nth-child(2)::before {
  top: 0.6em;
  transform: rotate(-45deg);
}
#nav-check input:checked~:nth-child(3)::before {
  display: none;
}
#nav-check input:checked~:nth-child(4)::before {
  bottom: 0.6em;
  transform: rotate(45deg);
}
/* #nav-check input:checked~span.check::before {
  background-color: green !important;
} */


.btn {
  display: inline-block;
  padding: 0.7em 2.2em;
  text-decoration: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  transition: all .3s ease-in;
  text-align: center;
  letter-spacing: .04rem;
  font-weight: bold;
  font-family: "WesFy-Black";
  white-space: nowrap;
  width: -moz-fit-content;
  width: fit-content;
  height: 2.5rem;
  align-items: center;
}

.yellow-button {
  background-color: #EAF765;
  color: #1a1a1a;
}

#nav-container .yellow-button {
  display: flex;
  text-align: left;
  align-items: center;
}

.yellow-button:hover {
  background-color: grey;
  color: white;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
}

@media only screen and (max-width:1001px) {
  .nav-wrapper {
    position: absolute;
    top: 3.9rem;
    left: 0;
    flex-direction: column;
    justify-content: unset;
    width: 100%;
    height: 100vh;
    z-index: -20;

  }

  #navbar {
    display: flex;
    flex-direction: column;
    padding-top: 4rem !important;
    text-align: left;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.9);
    z-index: -10;
    transition: display all ease-in;
  }

  #navbar li {
    width: 100%;
    padding-right: 1em;
  }

  #navbar li .nav-item {
    border-left: 2px solid #EAF765 !important;
    line-height: 1.5rem;
    font-size: 1.1rem;
    font-family: 'Joyride STD';
  }

  #nav-container .yellow-button {
    width: 100%;
    margin-left: 0.7rem;
    margin-top: 0.7rem;
  }
  #nav-check {
    display: inline-block;
  }
}