#footer{
    display: flex;
    padding: 0 5em 2em 5em;
    height: 5.7rem;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    overflow: hidden;
}
#footer .nav-container{
    display: flex;
    font-family: 'Avenir-Book';
    font-size: 0.8125rem;
}
#footer-nav{
    display: flex;
    list-style: none;
}
#footer-nav li{
    margin-left: 1.3em;
    border-left: 1px solid white;
    padding-left: 1em;
}
#footer-nav a{
    padding: 0.5em;
    line-height: 1.2rem;
    letter-spacing: 0.02rem;
    text-decoration: none;
    color: white;
}
#footer-nav a:hover{
    color:yellow;
}
#footer .footer-icons{
    text-decoration: none;
    color:white;
    padding:0.1em;
}
#footer .react-icon{
    margin: 0 0.5em;
    background-color:black;
    color:white;
    border:none;
    outline:none;
}