#footer {
    display: flex;
    padding: 0 5em 2em 5em;
    height: 5.7rem;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    /* overflow: hidden; */
}

#footer .ul-container {
    display: flex;
    font-family: 'Avenir-Book';
    font-size: 0.8125rem;
    font-weight: 100;
}

#footer-nav {
    display: flex;
    list-style: none;
}

#footer-nav li {
    margin-left: 1.3em;
    border-left: 1px solid white;
    padding-left: 1em;
}

#footer-nav a {
    padding: 0.5em;
    line-height: 1.2rem;
    letter-spacing: 0.02rem;
    text-decoration: none;
    color: white;
}

#footer-nav a:hover {
    color: yellow;
}

#icons-container {
    display: flex;
    margin-top: 1rem;
}

#footer .footer-icons {
    text-decoration: none;
    color: white;
    padding: 0.1em;
    margin-left: 1.5em;
}

#footer .icons,
.fa-instagram,
.fa-twitter,
.fa-facebook-f,
.fa-linkedin-in,
.fa-snapchat {
    display: block;
    font-size: 1.09rem;
    color: white;
    border: none;
    outline: none;
}

@media (max-width:600px) {
    #footer {
        padding-top: 1.5rem;
        flex-direction: column;
        height: -moz-fit-content;
        height: fit-content;
        align-items: center;
        gap: 1.5em;
    }

    .ul-container {
        flex-direction: column;
        align-items: center;
        gap: 1.5em;
    }
    #footer-nav {
        flex-direction: column;
        align-items: center;
        gap: 1.3em;
    }
    #footer-nav li {
        border: none;
    }
    #icons-container{
        padding-bottom: 0.5em;
    }
}